Repository sanket-sigmoid/pathfilter: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-workflow-a, run-workflow-b, run-workflow-c

config added
  .circleci/config.yml
Due: none

config added
  dir_a/main.sh
Due: run-workflow-a

Updated config.yml
  .circleci/config.yml
Due: none

changes workflow
  .circleci/workflows.yml
Due: none

chages
  .circleci/config.yml
Due: none

new conf file updated
  .circleci/config.yml
Due: none

new conf file updated
  .circleci/workflows.yml
Due: none

adding changes in main.sh of dir a
  dir_a/main.sh
Due: run-workflow-a

changes in workflow
  .circleci/workflows.yml
Due: none

changes in workflow
  dir_a/main.sh
Due: run-workflow-a

workflow
  .circleci/workflows.yml
Due: none

abc
  .circleci/workflows.yml
Due: none

abc
  dir_a/main.sh
Due: run-workflow-a

abcs
  .circleci/workflows.yml
Due: none

last build
  .circleci/workflows.yml
Due: none

last build
  dir_b/main.py
Due: run-workflow-b

workflow changed
  .circleci/workflows.yml
Due: none

workflow changed
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

workflow changed
  .circleci/config.yml
Due: none

Path conditions:
  run-workflow-a: any of: dir_a/.*
  run-workflow-b: any of: dir_b/.*
  run-workflow-c: any of: dir_c/.*
