Repository sanket-sigmoid/pathfilter: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-workflow-a, run-workflow-b

workflow changed
  .circleci/config.yml
Due: none

workflow changed
  dir_b/main.py
Due: run-workflow-b

commiting
  .circleci/config.yml
Due: none

pathfile source code
  .circleci/config.yml
Due: none

updating commands
  .circleci/config.yml
Due: none

updating commands
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

updating commands
  .circleci/workflows.yml
Due: none

updating commands
  dir_a/main.sh
Due: run-workflow-a

final code update
  .circleci/config.yml
Due: none

update config
  .circleci/config.yml
Due: none

updating
  .circleci/config.yml
Due: none

message
  .circleci/config.yml
Due: none

updating
  .circleci/workflows.yml
Due: none

testing
  .circleci/config.yml
  dir_a/.circleci/workflows.yml
Due: run-workflow-a

updating
  dir_a/.circleci/workflows.yml
Due: run-workflow-a

updating b
  .circleci/config.yml
  dir_b/.circleci/workflows.yml
Due: run-workflow-b

Path conditions:
  run-workflow-a: any of: dir_a/.*
  run-workflow-b: any of: dir_b/.*
